.jumbotron h1{
    color: black
}

.jumbotron h2{
    color: #e24a0e
}

  .navbar {
    border-bottom: #e24a0e 3px solid;
    opacity: 1; 
  }
  
  .container {
    font-size: 1.3rem;
  }

  
.bg {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}

.bg::after {
  content: "";
  background: url('/static/images/returnbook.png') ;
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
  background-repeat: no-repeat;
  background-position: center; 
}

.mt-25{
  margin-top: 25px;
}
